<div class="container">
	
	<h3>Результаты поиска для запроса "{{(state$ | async)?.query}}"</h3>

	<section>
		<h4>Ремонт</h4>
		<div *ngFor="let renova of (state$ | async)?.result?.renovas">
			<h5>{{renova.title}}</h5>
			<p [innerHTML]="renova.text"></p>
		</div>
	</section>

	<section>
		<h4>Статьи</h4>
		<last-articles [articles]="(state$ | async)?.result?.articles"></last-articles>
	</section>

</div>


