<h3>Статьи</h3>
<div class="panel" *ngFor="let article of articles$ | async">
	<div class="panel panel-default">
		<h4>{{article.title}}</h4>
		<p>
			<span [innerHTML]="getArticlePreview(article)+'...'"></span>
		</p>
		<a [routerLink]="['/articles', article.code]">Читать полностью</a>
	</div>
</div>