<section>
	<div class="container">
		<div *ngIf="article" class="text-container">
			<h3>{{article.title}}</h3>
			<span>{{article.date | date:'dd.MM.yyyy'}}</span>
			<rich-text-view [text]="article.text"></rich-text-view>
		</div>
	</div>
</section>