.row {
    margin-right: -15px;
    margin-left: -15px;
}

p.title {
    font-weight: bold;
}

p.description {
    color: black;
}

.image-responsive {
    max-height: 50px;
}

.img-container {
    max-height: 130px;
    overflow: hidden;
    margin-bottom: 10px;
}