<div class="row">
	<div *ngFor="let article of articles" class="col-sm-4">
		<div class="img-container">
			<img class="img-responsive" [src]="article.imageUrl" alt="img">
		</div>
		<p class="margin-top-10 title">{{article.title}}</p>
		<p class="description">{{article.annotation}}</p>
		<special-button [routerLink]="['articles', article.code]">Читать</special-button>
	</div>
</div>