<div class="testi">
	<img class="testi__img rounded-x" [src]="review.photoUrl" alt="">
	<span class="testi__name g-dp-block">{{review.author}}</span>
	<span class="testi__company g-dp-block g-mb-30">Клиент</span>
	<i class="icon-custom testi__fa icon-sm rounded-x fa fa-quote-left"></i>
	<p class="testi__text">{{review.comment}}</p>
</div>