.heading-v14 {
    position: relative;
}

.white .heading-v14__block-name {
    color: white;
}
.heading-v14__block-name {
    color: #f7b70b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.heading-v14__title {
    color: #000;
	font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.white .heading-v14__title {
    color: #fff;
}

.heading-v14__text {
    color: #999;
    font-size: 16px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.white .heading-v14__text {
    color: #fff;
}

.heading-v14:after {
    width: 70px;
    height: 8px;
    position: absolute;
    background: #f7b70b;
    content: "";
    top: 90px;
    left: 50%;
    margin-left: -35px;
}

.heading-v14.white {
    color: #fff !important;
}
.heading-v14.white:after {
    background: #fff !important;
}

@media (max-width: 480px) {
    .heading-v14__title {
        font-size: 16px;
    }
    .heading-v14__text {
        font-size: 14px;
    }
}
