<div class="heading-v14 text-center g-mb-40" [class.white]="style=='white'">
	<span class="heading-v14__block-name g-dp-block g-mb-20">{{header}}</span>
	<h2 class="heading-v14__title font-main g-mb-60">{{title}}</h2>
	<p class="heading-v14__text">{{annotation}}</p>
</div>