<div class="container">
	<hform *ngIf="set" [formGroup]="settingsForm">
		<legend><small>Основные настройки</small></legend>
		<hf-buttons>
			<primary-button (click)="update()">Сохранить настройки</primary-button>
		</hf-buttons>
		<hf-group>
			<hf-label>Заголовок главной страницы</hf-label>
			<hf-input>
				<input type="text" formControlName="mainPageTitle" [ngModel]="set.mainPageTitle"  class="form-control" id="inputMainPageTitle" placeholder="Заголовок главной страницы">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Текст главной страницы</hf-label>
			<hf-input>
				<text-editor id="editor" formControlName="mainPageText" [ngModel]="set.mainPageText"></text-editor>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label></hf-label>
			<hf-input>
				<a href="/dump">Сделать архив сайта</a>
				<div class="text-muted">Архив будет необходим для восстановления данных сайта (прайс-листов, статей, видов работ и т.п.)</div>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Название компании</hf-label>
			<hf-input>
				<input type="text" formControlName="companyName" [ngModel]="set.companyName"  class="form-control" id="inputCompanyName" placeholder="Название компании">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Email</hf-label>
			<hf-input>
				<input type="email" formControlName="email" [ngModel]="set.email" class="form-control" id="inputEmail" placeholder="Email">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Телефон</hf-label>
			<hf-input>
				<input type="text" formControlName="phone" [ngModel]="set.phone" class="form-control" id="inputPhone" placeholder="Телефон">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Адрес</hf-label>
			<hf-input>
				<input type="text" formControlName="address" [ngModel]="set.address" class="form-control" id="inputAddress" placeholder="Адрес">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Широта</hf-label>
			<hf-input>
				<input type="number" formControlName="mapY" [ngModel]="set.mapY" class="form-control" id="inputMapY" placeholder="Широта">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Долгота</hf-label>
			<hf-input>
				<input type="number" formControlName="mapX" [ngModel]="set.mapX" class="form-control" id="inputMapX" placeholder="Долгота">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Описание</hf-label>
			<hf-input>
				<textarea rows="5" formControlName="description" [ngModel]="set.description" class="form-control" id="inputDescription" placeholder="Описание"></textarea>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>URL картинки в заголовке</hf-label>
			<hf-input>
				<input type="text" formControlName="headerImageUrl" [(ngModel)]="set.headerImageUrl" class="form-control" placeholder="URL картинки заголовка">
				<preview-img [src]="set.headerImageUrl"></preview-img>
			</hf-input>
		</hf-group>
	</hform>
</div>
