.best-service {
    min-height: 400px;
    position: relative;
    background-size: 100% 100%;
    transition: all .5s;
    z-index: 1;
}

.best-service__title {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.best-service__text {
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
}
.btn-u--construction.trim::before {
    border: 2px solid #f7b70b;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
}
.btn-u--construction, .btn-u--construction:focus {
    color: #fff;
    background: #111;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 20px 30px;
}
.trim {
    display: inline-block;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.btn-u__fa {
    color: #f7b70b;
}

.no-column-space [class^="col-"], .no-column-space [class*=" col-"] {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}