.container-fluid {
	background-image: url(http://gaku.ru/day/day/call2.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: relative;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}