<div class="container">  
	<form id="contact" [formGroup]="requestForm" novalidate>
		<div *ngIf="!submited">
			<h1>Онлайн заказ</h1>
			<h4>Отправьте заявку сейчас и мы перезвоним Вам в течение часа!</h4>
			<fieldset>
			<input formControlName="fio" placeholder="Ваше имя" type="text" tabindex="1" autofocus>
			</fieldset>
			<fieldset>
			<input formControlName="email" placeholder="Ваш email" type="email" tabindex="2">
			</fieldset>
			<fieldset>
			<input formControlName="phone" placeholder="Ваш номер телефона" type="tel" tabindex="3">
			</fieldset>
			<fieldset>
			<textarea formControlName="comment" placeholder="Комментарий" tabindex="5"></textarea>
			</fieldset>
			<fieldset>
				<button [disabled]="!requestForm.valid" type="button" id="contact-submit" (click)="send()" >
					Отправить заказ
					<span *ngIf="!requestForm.valid"> (укажите email или номер телефона)</span> 
				</button>
			</fieldset>
		</div>
		<div *ngIf="submited">
			<h1>Заказ успешно отправлен</h1>
			<h4>Ожидайте звонка от нашего специалиста в течение часа!</h4>
		</div>
	</form>
</div>