<div class="container">
	<hform [formGroup]="renovaForm">
		<legend><small>Новый вид ремонта</small></legend>
		<hf-buttons>
			<primary-button (click)="update()">Сохранить</primary-button>
			<default-button (click)="back()">Назад</default-button>
		</hf-buttons>
		<hf-group>
			<hf-label>Код</hf-label>
			<hf-input>
				<input type="text" formControlName="code" [ngModel]="renova?.code" class="form-control" id="inputCode" placeholder="Код" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label></hf-label>
			<hf-input>
				<checkbox>
					<input type="checkbox" formControlName="published" [ngModel]="renova?.published"> 
					Опубликован
				</checkbox>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Текст меню</hf-label>
			<hf-input>
				<input type="text" formControlName="menuText" [ngModel]="renova?.menuText" class="form-control" id="inputMenuText" placeholder="Текст меню" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Url картинки заголовка</hf-label>
			<hf-input>
				<input type="text" formControlName="headerImageUrl" [ngModel]="renova?.headerImageUrl" class="form-control" id="inputHeaderImageUrl" placeholder="Url картинки заголовка" />
				<preview-img [src]="renova?.headerImageUrl"></preview-img>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Призыв к действию</hf-label>
			<hf-input>
				<input type="text" formControlName="call2Action" [ngModel]="renova?.call2Action" class="form-control" id="inputCall2Action" placeholder="Призыв к действию" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Текст</hf-label>
			<hf-input>
				<text-editor id="editor" formControlName="text" [ngModel]="renova?.text"></text-editor>
			</hf-input>
		</hf-group>
	</hform>
</div>