<div *ngIf="video" class="container">
	<hform [formGroup]="form">
		<legend><small>Видео</small></legend>
		<hf-buttons>
			<primary-button (click)="update()">Сохранить</primary-button>
			<default-button (click)="back()">Назад</default-button>
		</hf-buttons>
		<hf-group>
			<hf-label>Название</hf-label>
			<hf-input>
				<input type="text" formControlName="title" [ngModel]="video.title" class="form-control" id="inputTitle" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Дата</hf-label>
			<hf-input>
				<input type="date" formControlName="date" [ngModel]="video.date" class="form-control" id="inputDate" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label></hf-label>
			<hf-input>
				<checkbox>
					<input type="checkbox" formControlName="published" [ngModel]="video.published"> 
					Опубликовано
				</checkbox>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Url</hf-label>
			<hf-input>
				<input type="text" formControlName="url" [ngModel]="video.url" class="form-control" id="inputUrl" placeholder="Url" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Примечание</hf-label>
			<hf-input>
				<text-editor id="inputAnnotation" formControlName="annotation" [ngModel]="video.annotation"></text-editor>
			</hf-input>
		</hf-group>
	</hform>
</div>