<div class="container">
	<h3>Видео</h3>
	<default-button (click)="addVideo()">Добавить</default-button>
	<table class="table table-hover">
		<thead>
			<th style="width: 90px">Дата</th>
			<th style="width: 60px">Опубликовано</th>
			<th style="width: 80px">Название</th>
			<th style="width: 180px"></th>
		</thead>
		<tbody>
			<tr *ngFor="let video of videos$ | async">
				<td>{{video.date | date:'dd.MM.yyyy'}}</td>
				<td>{{video.published ? 'Да' : 'Нет'}}</td>
				<td>{{video.title}}</td>
				<td>
					<primary-button size="xs" (click)="editVideo(video)">Редактировать</primary-button>
					<default-button size="xs" (click)="deleteVideo(video)">Удалить</default-button>
				</td>
			</tr>
		</tbody>
	</table>
</div>