<div class="container">
		<h3>Прайс-листы</h3>
		<div class="btn-group" role="group" aria-label="">
			<button type="button" class="btn btn-default btn-xs" (click)="add()" >Создать новый прайс-лист</button>
		</div>
		<price-list *ngFor="let priceList of priceLists$ | async" [priceList] = "priceList" (ondelete)="deletePriceList(priceList)" (onupdate)="updatePriceList($event)"></price-list>
</div>