<form class="panel panel-default" [formGroup]="form">
	<div class="panel-body">
		<table style="margin-bottom: 5px;">
			<tr>
				<td >
					<input class="form-control input-sm" type="text" formControlName="name" 
						[(ngModel)]="priceGroup.name" [disabled]="priceChangeOnly" placeholder="Название группы цен" 
						style="font-weight: bold; color: black"/>
				</td>
				<td style="width: 150px">
					<danger-button size="xs" *ngIf="!priceChangeOnly" (click)="deleteGroup()">Удалить группу цен</danger-button>
				</td>
			</tr>
		</table>
		
		<default-button size="xs" *ngIf="!priceChangeOnly" (click)="add()" style="margin-bottom: 5px;">Добавить цену</default-button>

		<table *ngIf="priceGroup?.prices?.length > 0">
			<thead>
				<th>Позиция</th>
				<th style="width: 100px">Ед. измерения</th>
				<th style="width: 100px">Цена</th>
				<th style="width: 150px" *ngIf="!priceChangeOnly" >Действия</th>
			</thead>	
			<tbody>

				<tr price *ngFor="let formGroup of form.get('prices').controls; let i = index"  >
					<td>
						<input type="text" class="form-control input-sm" 
							[disabled] = "priceChangeOnly"
							[formControl]="formGroup.controls.name" [(ngModel)]="priceGroup.prices[i].name" />
					</td>
					<td>
						<select type="text" class="form-control input-sm" [disabled] = "priceChangeOnly" [formControl]="formGroup.controls.unitId" [(ngModel)]="priceGroup.prices[i].unitId">
							<option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
						</select>
					</td>
					<td>
						<input type="number" class="form-control input-sm" [formControl]="formGroup.controls.value" [(ngModel)]="priceGroup.prices[i].value" />
					</td>
					<td *ngIf="!priceChangeOnly" >
						<danger-button size="xs" (click)="delete(i)">Удалить цену</danger-button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>