
<form [formGroup]="plForm" class="panel panel-default" style="border-color: #222222">
	<div class="panel-body">
		<div style="margin-bottom: 10px">
			<primary-button size="xs" (click)="update()">Сохранить</primary-button>
			<default-button size="xs" *ngIf="!priceList.priceChangeOnly" (click)="deletePriceList()">Удалить</default-button>
			<checkbox class="pull-right">
				<input type="checkbox" formControlName="priceChangeOnly" [(ngModel)]="priceList.priceChangeOnly" /> 
				Изменение только цен
			</checkbox>
		</div>
		<div>
			<input class="form-control input-sm" type="text" formControlName="name" 
				[(ngModel)]="priceList.name" [disabled]="plForm.value.priceChangeOnly" 
				style="font-size: 18px; font-weight: bold; color: black" placeholder="Введите название прайс-листа" />
		</div>
		<div>
			<input class="form-control input-sm" type="text" formControlName="code" 
				[(ngModel)]="priceList.code" [disabled]="plForm.value.priceChangeOnly" 
				style="font-size: 18px; font-weight: bold; color: black" placeholder="Код прайс-листа" />
		</div>
		<div>
			<textarea class="form-control input-sm" formControlName="comment" 
				[(ngModel)]="priceList.comment" [disabled]="plForm.value.priceChangeOnly" 
				placeholder="Примечание к прайс-листу"></textarea>
		</div>
		<checkbox>
			<input type="checkbox" formControlName="published" [(ngModel)]="priceList.published" /> 
			Опубликован
		</checkbox>
		<table class="table table-hover">
			<tbody>
				<tr *ngIf="!priceList.priceChangeOnly">
					<td>
						<default-button size="xs" (click)="add()" style="margin: 10px">Добавить группу цен</default-button>
					</td>
				</tr>
				<tr *ngFor="let formGroup of plForm.get('groups').controls; let i = index">
					<price-group [form]="formGroup" [priceGroup]="priceList.groups[i]"
						[priceChangeOnly]="priceList.priceChangeOnly" (ondelete)="deleteGroup(i)" ></price-group>
				</tr>
				<tr>
					<td *ngIf="!priceList.priceChangeOnly">
						<default-button size="xs" (click)="add()" style="margin: 10px">Добавить группу цен</default-button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</form>