.project__cat {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.project__title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.project__img {
    box-shadow: rgb(205, 157, 24) 2px 2px 2px;
}

.project__text {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.8;
}
