<section id="start">
	<div class="container">
		<section-header
			header="Портфолио"
			[title]="work.title"
			[annotation] ="work.annotation" >
		</section-header>
		<img class="photo" *ngFor="let photo of work.photos" [src]="photo">
		<div>
			<rich-text-view [text]="work.text"></rich-text-view>
		</div>
	</div>
</section>