<section class="portfolio">
	<div class="container">
		<section-header
			header="Портфолио"
			title="Наши последние работы" >
		</section-header>
		<div class="panel" *ngFor="let work of works$ | async">
			<work-card [work]="work"></work-card>
		</div>
	</div>
</section>