.pst1 {
    padding: 40px 0;
}


ul, ol {
	list-style-type: none;
	padding-left: 0;
}

.pst1 .rr1 li {
	display: block;
	border-bottom: 1px solid #CCCCCC;
}

li {
	list-style: none;
}

.pst1 .rr1 li a {
	display: block;
	line-height: 37px;
}

body a, html a {
    text-decoration: none;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
    outline: none;
}


li {
    list-style: none;
}

.pst1 .ll1 ul li {
	float: left;
    display: block;
}

.pst1 .ll1 ul li {
    display: block;
}

.pst1 .ll1 ul li {
	overflow: hidden;
}

.pst1 .ll1 ul li:first-child {
	width: 50%;
	height: auto;
}

.pst1 .ll1 ul li {
	width: 25%;
	height: auto;
	padding: 3px;
}

.pst1 .ll1 ul li img {
	width: 100%;
	height: auto;
 }


/*@media (min-width:768px) {
	.pst1 .ll1 ul li {
		float: left;
	}
	.pst1 .ll1 ul li img {
		width: 150px;
		height: 150px;
	}
	
}*/

@media (min-width:992px) {
	.pst1 .ll1 {
		width: 80%;
	}
	.pst1 .rr1 {
		float: right;
		width: 18%;
	}
}