<div class="pst1">
	<div class="rr1 visible-md visible-lg">
		<ul>
			<li><a [routerLink]="['/portfolio', work.code]">Все фотографии</a></li>
			<li><a [routerLink]="['/portfolio', work.code]">Описание</a></li>
		</ul>
	</div>
	<div class="ll1">
		<ul>
			<li>
				<img [src]="work.mainPhoto" [alt]="work.title" [title]="work.title">
			</li>
			<li *ngFor="let photo of getPhotos()">
				<img [src]="photo" [alt]="work.title" [title]="work.title">	
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div class="ll1">
		<h4><a [routerLink]="['/portfolio', work.code]">{{work.title}}</a></h4>
		<a [routerLink]="['/portfolio', work.code]">{{work.annotation}}</a>
	</div>
	
</div>