
.container-fluid {
	position: relative;
	color: white;
  background: url(https://thumbs.dreamstime.com/z/%D0%BA%D0%B0-%D1%8C%D0%BA%D1%83-%D1%8F%D1%82%D0%BE%D1%80-%D0%B8-%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B-52095863.jpg) no-repeat;
	background-size: cover;
  padding-top: 30px;
	padding-bottom: 30px;
}