<!-- Begin Content Boxes -->
<div class="row">
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Опыт</h4>
			<p>Все виды ремонта выполняются компанией, имеющей огромный опыт и безупречную репутацию</p>
		</div>
	</div>
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Прозрачность</h4>
			<p>Потенциальным заказчикам предоставляется возможность побывать у наших клиентов и оценить качество выполненного ремонта</p>
		</div>
	</div>
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Экспертиза</h4>
			<p>Ознакомительный выезд специалистов на объект, замеры и расчет производятся бесплатно</p>
		</div>
	</div>
</div>
<!-- //.row -->

<div class="row">
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Скидки</h4>

			<p>Действует гибкая система скидок, клиентам предлагается поэтапная оплата.</p>
		</div>
	</div>
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Надежность</h4>

			<p>Изначально рассчитанная и утвержденная смета на материалы и выполнение работ после подписания договора уже не меняется
					— расценки четко фиксируются.</p>
		</div>
	</div>
	<div class="col-sm-4 col-md-4">
		<div class="description">
			<h4>Качество</h4>

			<p>Работы выполняются качественно, с использованием современных материалов и соблюдением соответствующих технологий</p>
		</div>
	</div>
</div>