<h1>Контакты</h1>
<span class="field">Адрес:</span> {{(settings$ | async)?.address}} <br>
<span class="field">Телефон:</span> {{(settings$ | async)?.phone}} <br>
<span class="field">Email:</span> <a [href]="'mailto:'+(settings$ | async)?.email">{{(settings$ | async)?.email}}</a> <br>
<div ymaps [settings]="(settings$ | async)" style="margin-top: 30px"></div>
