<div class="container">
	<hform [formGroup]="reviewForm">
		<legend><small>Новый отзыв</small></legend>
		<hf-buttons>
			<primary-button (click)="update()">Сохранить</primary-button>
			<default-button (click)="back()">Назад</default-button>
		</hf-buttons>
		<hf-group>
			<hf-label>Дата</hf-label>
			<hf-input>
				<input type="date" formControlName="date" [ngModel]="review?.date" class="form-control" id="inputDate" placeholder="Дата отзыва" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Автор</hf-label>
			<hf-input>
				<input type="text" formControlName="author" [ngModel]="review?.author" class="form-control" id="inputAuthor" placeholder="Автор отзыва" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Текст</hf-label>
			<hf-input>
				<textarea formControlName="comment" [ngModel]="review?.comment" class="form-control" id="inputComment" placeholder="Текст" rows="5"></textarea>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label></hf-label>
			<hf-input>
				<checkbox>
					<input type="checkbox" formControlName="published" [ngModel]="review?.published"> 
					Опубликован
				</checkbox>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Url фотографии</hf-label>
			<hf-input>
				<input type="text" formControlName="photoUrl" [ngModel]="review?.photoUrl" class="form-control" id="inputPhotoUrl" placeholder="Url фотографии" />
				<preview-img [src]="review?.photoUrl"></preview-img>
			</hf-input>
		</hf-group>
	</hform>
</div>