<div class="container">
	<h3>Статьи</h3>
	<button type="button" class="btn btn-default" (click)="addArticle()">Добавить</button>
	<table class="table table-hover">
		<thead>
			<th style="width: 80px">Код</th>
			<th style="width: 60px">Опубликована</th>
			<th style="width: 90px">Дата</th>
			<th>Название</th>
			<th style="width: 180px"></th>
		</thead>
		<tbody>
			<tr *ngFor="let article of articles$ | async">
				<td>{{article.code}}</td>
				<td>{{article.published ? 'Да' : 'Нет'}}</td>
				<td>{{article.date | date:'dd.MM.yyyy'}}</td>
				<td>{{article.title}}</td>
				<td>
					<button class="btn btn-xs" type="button" (click)="editArticle(article)">Редактировать</button>
					<button class="btn btn-xs btn-danger" type="button" (click)="deleteArticle(article)">Удалить</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>