<div class="container">
	<hform [formGroup]="form">
		<legend><small>Новая статья</small></legend>
		<hf-group>
			<hf-buttons>
				<primary-button (click)="update()">Сохранить</primary-button>
				<default-button (click)="back()">Назад</default-button>
			</hf-buttons>
		</hf-group>
		<hf-group>
			<hf-label>Код</hf-label>
			<hf-input>
				<input type="text" formControlName="code" [ngModel]="article?.code" class="form-control" id="inputCode" placeholder="Код" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Дата</hf-label>
			<hf-input>
				<input type="date" formControlName="date" [ngModel]="article?.date" class="form-control" id="inputDate" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Заголовок</hf-label>
			<hf-input>
				<input type="text" formControlName="title" [ngModel]="article?.title" class="form-control" id="inputTitle" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Примечание</hf-label>
			<hf-input>
				<textarea formControlName="annotation" [ngModel]="article?.annotation" class="form-control" id="inputAnnotation" placeholder="Краткое содержание" rows="3"></textarea>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Url картинки</hf-label>
			<hf-input>
				<input type="text" formControlName="imageUrl" [ngModel]="article?.imageUrl" class="form-control" id="inputImageUrl" placeholder="Url картинки" />
				<preview-img [src]="article?.imageUrl"></preview-img>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label></hf-label>
			<hf-input>
				<checkbox>
					<input type="checkbox" formControlName="published" [ngModel]="article?.published"> 
					Опубликован
				</checkbox>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Текст</hf-label>
			<hf-input>
				<text-editor id="editor" formControlName="text" [ngModel]="article?.text"></text-editor>
			</hf-input>
		</hf-group>
	</hform>
</div>