<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" >На сайт</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ><a routerLink="/admin_998967644736">Основное <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/reviews">Отзывы <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/renovas">Виды ремонта <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/pricelists">Прайс-лист <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/calculator">Калькулятор <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/articles">Статьи <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/portfolio">Портфолио <span class="sr-only">(current)</span></a></li>
				<li ><a routerLink="/admin_998967644736/vg">Видео <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<div style="height: 50px"></div>
<router-outlet></router-outlet>