<form [formGroup]="requestForm" novalidate>
	<div *ngIf="!submited">
		<ng-content></ng-content>
	</div>
	<div *ngIf="submited" style="position: relative">
		<h4>Заявка успешно отправлена</h4>
		<p>
			Ожидайте звонка от наших специалистов в течение 15 минут
		</p>
	</div>
	<div [style.visibility]="submited? 'hidden': 'visible'" style="position: relative">
		<div class="row">
			<div class="col-xs-12">
				<input class="form-control" formControlName="phone" type="text" placeholder="Ваш номер телефона" />
			</div>
		</div>
		
		<special-button (click)="send()" [disabled]="!requestForm.valid">{{actionTitle || 'Оставить заявку'}}</special-button>
		<div style="margin-top: 10px">
			<p class="small">Мы не не храним и не передаем Ваши персональные данные третьим лицам</p>
		</div>
	</div>
</form>