<div *ngIf="form" class="container">
	<hform [formGroup]="form">
		<legend><small>Новая работа портфолио</small></legend>
		<hf-buttons>
			<primary-button (click)="update()">Сохранить</primary-button>
			<default-button (click)="back()">Назад</default-button>
		</hf-buttons>
		<hf-group>
			<hf-label>Код</hf-label>
			<hf-input>
				<input type="text" formControlName="code" [ngModel]="work.code" class="form-control" id="inputCode" placeholder="Код" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Дата</hf-label>
			<hf-input>
				<input type="date" formControlName="date" [ngModel]="work.date" class="form-control" id="inputDate" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Вид ремонта</hf-label>
			<hf-input>
				<select formControlName="renovaId" [ngModel]="work.renovaId" class="form-control" id="inputRenovaId" >
					<option *ngFor="let renova of renovas$ | async" [value]="renova._id">{{renova.menuText}}</option>
				</select>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Заголовок</hf-label>
			<hf-input>
				<input type="text" formControlName="title" [ngModel]="work.title" class="form-control" id="inputTitle" placeholder="Заголовок" />
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Примечание</hf-label>
			<hf-input>
				<textarea formControlName="annotation" [ngModel]="work.annotation" class="form-control" id="inputAnnotation" placeholder="Примечание" rows="5"></textarea>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-input>
				<div class="checkbox">
					<label>
						<input type="checkbox" formControlName="published" [ngModel]="work?.published"> Опубликован
					</label>
				</div>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Основное фото</hf-label>
			<hf-input>
				<input type="text" formControlName="mainPhoto" [(ngModel)]="work.mainPhoto" class="form-control" id="inputMainPhoto" placeholder="Основное фото" />
				<img class="preview" [src]="work.mainPhoto">
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Дополнительные фотографии</hf-label>
			<hf-input>
				<div>
					<button type="button" class="btn btn-primary" (click)="addPhoto()">Добавить</button>
				</div>
				<table>
					<thead>
						<th>Url фотографии</th>
						<th style="width: 130px">Изображение</th>
						<th style="width: 200px"></th>
					</thead>
					<tbody>
						<tr *ngFor="let photo of form.get('photos').controls; let i = index;">
							<td>
								<input type="text" [formControl]="photo" [(ngModel)]="work.photos[i]">
							</td>
							<td>
								<img class="preview" [src]="work.photos[i]">
							</td>
							<td>
								<button type="button" (click)="deletePhoto(i)">Удалить</button>
							</td>
						</tr>
					</tbody>
				</table>
			</hf-input>
		</hf-group>
		<hf-group>
			<hf-label>Описание работ</hf-label>
			<hf-input>
				<text-editor id="editor" formControlName="text" [ngModel]="work?.text"></text-editor>
			</hf-input>
		</hf-group>
	</hform>
</div>