<div class="container">
	<h3>Портфолио</h3>
	<button type="button" class="btn btn-default" (click)="addWork()">Добавить работу</button>
	<table class="table table-hover">
		<thead>
			<th style="width: 80px">Код</th>
			<th style="width: 60px">Опубликована</th>
			<th style="width: 90px">Дата</th>
			<th>Заголовок</th>
			<th style="width: 180px"></th>
		</thead>
		<tbody>
			<tr *ngFor="let work of works$ | async">
				<td>{{work.code}}</td>
				<td>{{work.published ? 'Да' : 'Нет'}}</td>
				<td>{{work.date | date:'dd.MM.yyyy'}}</td>
				<td>{{work.title}}</td>
				<td>
					<button class="btn btn-xs" type="button" (click)="editWork(work)">Редактировать</button>
					<button class="btn btn-xs btn-danger" type="button" (click)="deleteWork(work)">Удалить</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>