<div class="container-fluid" >
	<div class="color-overlay"></div>
	<!-- call to action -->
	<div class="row">
		<div class="col-sm-12">
			<div class="call-action-v1 call-action-v1-boxed">
				<div class="call-action-v1-box">
					<div class="call-action-v1-in">
						<h3 class="cta__title font-main">Хотите узнать стоимость своего ремонта?</h3>
						<p>Воспользуйтесь калькулятором ремонта на нашем сайте! </p>
					</div>
					<div class="call-action-v1-in inner-btn page-scroll">
						<special-button routerLink="/" fragment="calculator">Рассчитать</special-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>