<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Виды ремонта</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group" role="group" aria-label="">
				<button type="button" class="btn btn-default" (click)="add()" >Добавить</button>
			</div>
		</div>
	</div>
	<div class="row" style="padding-top: 10px">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
					<th style="width: 80px">Код</th>
					<th style="width: 50px">Публ</th>
					<th>Название</th>
					<th style="width: 50px">Текст</th>
					<th style="width: 80px">Url заголовка</th>
					<th style="width: 80px">Призыв к действию</th>
					<th style="width: 200px"></th>
				</thead>
				<tbody>
					<tr *ngFor="let renova of renovas$ | async">
						<td>{{renova.code}}</td>
						<td>{{renova.published ? 'Да' : 'Нет'}}</td>
						<td>{{renova.menuText}}</td>
						<td>{{renova.text ? 'Есть' : 'Нет'}}</td>
						<td>{{renova.headerImageUrl ? 'Есть': 'Нет'}}</td>
						<td>{{renova.call2Action ? 'Есть' : 'Нет'}}</td>
						<td>
							<button type="button" class="btn btn-xs" (click)="edit(renova)">Редактировать</button>
							<button type="button" class="btn btn-xs btn-danger" (click)="delete(renova)">Удалить</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>