<section>
	<div class="container">
		<section-header
			header="Видео"
			title="Наше видео">
		</section-header>
		<div class="row">
			<div *ngFor="let video of videos$ | async" class="col-xs-12 col-sm-6 col-md-4 g-mb-20" >
				<video-item class="lazyYT" [youtubeId]="video.url" data-ratio="16:9" data-display-duration="true">загрузка...</video-item>
			</div>
		</div>
	</div>
</section>