<ul>
	<li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-rss"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
</ul>