.socBtnsArt {height: 30px; width: 550px; margin: 50px auto;}

#callbackRemontArt, #callbackDesignArt {
    font-size: 16px;
    padding-top: 8px;
    width: 230px;
    height: 26px;
    float: left;
    margin: -5px 30px 0px 0px;  
    background: linear-gradient(to bottom, #FFECBC 0%, #FFDCAC 50%, #FFCD8D 51%, #FFBA75 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #EF8A20;
    border-radius: 5px;
    color: #41352B;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.brd {text-align:center;}

.brd div {text-transform:none; font-size:16px;}

.brd a:visited {opacity:0.5;}

.brd a span {display: block; margin-top: -25px; position: relative; font-size: 16px; background-color: rgba(243, 239, 224, 0.7);}

.brd a img  {width:100%}

.art-order-block {margin-bottom:130px}

.image-wide {
    width: 100%;
}