<div *ngFor="let priceList of priceLists$ | async; let i = index" class="g-mb-40">
	<h1>{{priceList.name}}</h1>
	<h2>{{priceList.comment}}</h2>
	<price-list-view [priceListCode]="priceList.code"></price-list-view>
</div>
<br/> <br/>
<contact-pane></contact-pane>