<div class="container">
	<h3>Калькулятор</h3>

	<div *ngIf="calculator" class="panel panel-default" style="border-color: #222222">
		<div class="panel-body">
			<div *ngIf="!priceList" class="alert alert-info" role="alert">Выберите прайс-лист</div>
			<div class="row">
				<div class="col-sm-12">
					<primary-button size="xs" (click)="update()">Сохранить</primary-button>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Рассчитывать по: </label>
					<select [(ngModel)]="calculator.priceListId" (ngModelChange)="priceListIdChange()" placeholder="Выберите прайс-лист" class="form-control input-sm">
						<option *ngFor="let pl of priceLists" [value]="pl._id">{{pl.name}}</option>
					</select>
				</div>
			</div>
			<div *ngIf="calcModel" class="row">
				<div class="col-sm-12">
					<default-button size="xs" (click)="addSchema()">Добавить схему расчета</default-button>
					<select [(ngModel)]="currentSchemaId" placeholder="Выберите схему расчета" class="form-control input-sm">
						<option *ngFor="let schema of calcModel.schemas" [value]="schema.model.id" [innerHTML]="schema.model.name"></option>
					</select>
				</div>
			</div>
			<form *ngIf="calcModel" [formGroup]="form()">
				<div class="row">
					<div class="col-sm-4">
						<input type="text" [(ngModel)]="model().name" [ngModelOptions]="{standalone: true}" class="form-control input-sm" />
					</div>
					<div class="col-sm-3">
						<label><input type="checkbox" [(ngModel)]="model().published" [ngModelOptions]="{standalone: true}" /> Опубликовать</label>
					</div>
				</div>
				<div *ngFor="let group of form().get('groups').controls; let i = index">
					<label>
						<h4>
							<input type="checkbox" [(ngModel)]="calcModel.groupChecks[i].checked" [ngModelOptions]="{standalone: true}"/> 
							{{model().groups[i].name}}
						</h4>
					</label>
					<table class="table table-hover">
						<thead>
							<th style="width: 50px"></th>
							<th>Позиция</th>
							<th>Ед. измерения</th>
							<th>Количество</th>
							<th>Цена</th>
						</thead>
						<tbody>
							<tr *ngFor="let price of group.get('prices').controls; let j = index">
								<td>
									<input type="checkbox" [(ngModel)]="calcModel.groupChecks[i].prices[j].checked" [ngModelOptions]="{standalone: true}">
								</td>
								<td>{{model().groups[i].prices[j].name}}</td>
								<td>{{getUnitName(model().groups[i].prices[j].unitId)}}</td>
								<td><input type="number" classs="form-control" [formControl]="price.controls.quantity" [(ngModel)]="model().groups[i].prices[j].quantity"></td>
								<td>{{model().groups[i].prices[j].value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div> 
	</div>
	<calculator></calculator>
</div>