<div *ngIf="calcModel" >
	<table style="margin-bottom: 10px">
		<tr >
			<td style="width: 160px; padding-bottom: 15px; vertical-align: center">Площадь пола (м<span style="vertical-align: super">2</span>)</td>
			<td>
				<input type="number" class="form-control" [(ngModel)]="value" (ngModelChange)="valueChanged()" />
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 15px; vertical-align: center">Тип ремонта</td>
			<td>
				<select (change)="onSchemaSelected($event.target.value)">
					<option *ngFor="let schema of schemas" [value]="schema.name" >{{schema.name}}</option>
				</select>
			</td>
		</tr>
	</table>
	<table style="width: 100%; margin-bottom: 20px">
		<thead>
			<th style="text-align: left">Работы</th>
			<th></th>
			<th style="width: 80px; text-align: center">Ед-цы</th>
			<th style="width: 110px; text-align: center">Цена (руб.)</th>
		</thead>
		<tbody *ngFor="let group of model().groups">
			<tr> 
				<td style="width: 100px; "></td>
				<td colspan="3" style="text-align: left; font-weight: bold; padding-bottom: 10px">
					<span class="section-row">{{group.name}}</span>
				</td>
			</tr>
			<tr *ngFor="let price of group.prices">
				<td>
					<div class="can-toggle can-toggle--size-small">
						<input [id]="'checkbox-'+group.id+'-'+price.id" [(ngModel)]="price.checked" [ngModelOptions]="{standalone: true}" (ngModelChange)="priceCheckedChange()" type="checkbox">
						<label [attr.for]="'checkbox-'+group.id+'-'+price.id">
							<div class="can-toggle__switch" data-checked="Да" data-unchecked="Нет"></div>
						</label>
					</div>
				</td>
				<td style="text-align: left">
					<label [attr.for]="'checkbox-'+group.id+'-'+price.id">{{price.name}}</label> 
				</td>
				<td style="text-align: center">
					{{getUnitName(price.unitId)}}
				</td>
				<td style="text-align: center">
					{{price.value}}
				</td>
			</tr>
		</tbody>
	</table>
	Сумма Вашего ремонта составила <span class="total-sum">{{totalSum}} руб.</span>
</div>