<div id="head" class="container-fluid" [style.background-image]="'url('+settings?.headerImageUrl+')'" 
[ngStyle]="getHeaderStyle()">
	<div class="row">
		<div id="toplogo" class="col-sm-4" >
			<div class="box">
				<a routerLink="/">
					<img id="logo" src="assets/logo.png" alt="">
					<span>Профессиональные услуги по ремонту и строительству</span>
				</a>
				<div class="visible-xs">
					<div id="phone">
						{{(settings$ | async)?.phone}}
					</div>
					<div id="email"><a href="mailto:{{(settings$ | async)?.email}}">{{(settings$ | async)?.email}}</a></div>
					<button routerLink="/request" type="button">Заказать ремонт</button>
				</div>
				<!--<span id="contacts">
					{{(settings$ | async)?.phone}}
					<a id="email" href="mailto:{{(settings$ | async)?.email}}">{{(settings$ | async)?.email}}</a>
				</span>-->
			</div>
		</div>
		<div id="request" class="col-sm-offset-3 col-sm-5">
			<div class="box hidden-xs" >
				<div id="phone">
					{{(settings$ | async)?.phone}}
				</div>
				<div id="email"><a href="mailto:{{(settings$ | async)?.email}}">{{(settings$ | async)?.email}}</a></div>
				<button routerLink="/request" type="button">Заказать ремонт</button>
				
			</div>
		</div>
	</div>
</div>
<div id="topmenu">
	<ul>
		<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="hidden-xs"><a routerLink="/">О компании</a></li>


		<li [routerLinkActive]="['active']" class="visible-xs-inline" ><a routerLink="/renovas">Услуги</a></li>


		<li [routerLinkActive]="['active']"><a routerLink="/price">Цены</a></li>


		<li [routerLinkActive]="['active']"><a routerLink="/contacts">Контакты</a></li>
		<!--<li>
			<a href="/admin" role="button" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-gears"></i>
			</a>
		</li>-->
	</ul>

</div>

<!--var yaGoalParams = {place: 'header'};yaCounter2932666.reachGoal('ZakazRemontaKnopka', 'yaGoalParams');-->
<div id="middle" class="container-fluid">
	<div class="row">
		<div id="left-menu" class="col-sm-3">
			<renova-menu [renovas]="renovas$ | async"  class="hidden-xs"></renova-menu>

			<div class="brd hidden-xs">
				<div><span class="articles">статьи о ремонте</span></div>
				<ul>
					<template ngFor let-article [ngForOf]="lastArticles$ | async">
						<li>
							<a [routerLink]="['/article', article.code]">{{article.title}}</a>
						</li>
						<hr>
					</template>
				</ul>
				<span *ngIf="(lastArticles$ | async) == 0">Здесь мы планируем разместить полезную информацию для Вас</span>
			</div>
		</div>
		<div id="content" class="col-sm-6">
			<router-outlet></router-outlet>
		</div>
		<div class="col-sm-3">
			<a id="link1" routerLink="/calculator"></a>
			<a id="link3"></a>
			<div class="brd visible-xs">
				<div><span class="articles">статьи о ремонте</span></div>
				<ul>
					<template ngFor let-article [ngForOf]="lastArticles$ | async">
						<li>
							<a [routerLink]="['/article', article.code]">{{article.title}}</a>
						</li>
						<hr>
					</template>
				</ul>
				<span *ngIf="(lastArticles$ | async) == 0">Здесь мы планируем разместить полезную информацию для Вас</span>
			</div>
		</div>
	</div>
</div>

<div id="footer">
	<div class="container-fluid">
		<div class="col-sm-4">
			{{(settings$ | async)?.companyName}} 2016<br> Все права защищены
		</div>
	</div>
</div>
