<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="btn-group" role="group" aria-label="">
				<button type="button" class="btn btn-default" (click)="add()" >Добавить</button>
			</div>
		</div>
	</div>
	<div class="row" style="padding-top: 10px">
		<div class="col-sm-12">
			<table class="table table-hover">
				<thead>
					<th style="width: 120px">Дата</th>
					<th style="width: 100px">Автор</th>
					<th >Текст отзыва</th>
					<th>Опубликован</th>
					<th style="width: 100px">Url фото</th>
					<th style="width: 150px"></th>
				</thead>
				<tbody>
					<tr *ngFor="let review of reviews$ | async">
						<td>{{review.date | date:'dd.MM.yyyy'}}</td>
						<td>{{review.author}}</td>
						<td>{{review.comment}}</td>
						<td>{{review.published ? 'Да' : 'Нет'}}</td>
						<td>{{review.photoUrl ? 'Есть' : 'Нет'}}</td>
						<td>
							<button type="button" class="btn btn-xs" (click)="edit(review)">Редактир.</button>
							<button type="button" class="btn btn-xs btn-danger" (click)="delete(review)">Удалить</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>